.s-service-page {
  background-color: $bg-color;
  padding: 4rem 0;

  @media (min-width: $screen-sm) {
    padding: 6.5rem 0;
  }

  @media (min-width: $screen-md) {
    padding: 4rem 0;
  }

  &__info {
    margin-bottom: 2rem;

    @media (min-width: $screen-md) {
      padding-right: 2rem;
      margin-bottom: 0;
    }
  }

  &__title {
    font-size: 1.414rem;
    line-height: 1.6rem;
    margin: 0 0 0.5rem 0;

    @media (min-width: $screen-sm) {
      font-size: 1.999rem;
      line-height: 2.2rem;
      margin: 0 0 1rem 0;
    }
  }

  &__subtitle {
    font-size: 1rem;
    line-height: 1.25rem;
    margin: 1.5rem 0 0.5rem 0;

    @media (min-width: $screen-sm) {
      font-size: 1.414rem;
      line-height: 1.6rem;
      margin: 2rem 0 1rem 0;
    }
  }

  &__feedback {
    padding-top: 2rem;
    margin-bottom: 2rem;
    border-top: 1px solid $border-color;

    @media (min-width: $screen-md) {
      border-top: 0;
      padding-top: 0;
    }
  }

  &__testimonials {
    padding-top: 2rem;
    border-top: 1px solid $border-color;

    @media (min-width: $screen-md) {
      border-top: 0;
      padding-top: 0;
    }
  }
}