mixin service-page()

  section.s-service-page
    +breadcrumb()
      +breadcrumb-item('Главная', '/index.html')
      +breadcrumb-item('Разработка проектов и планов недропользования', '/')
      +breadcrumb-item('Проект ГРР (Проект ГРР для подземных вод/Проект ГРР для твердых полезных ископаемых)')
    .container
      .row
        .col-12.col-lg-7.col-xl-8
          .s-service-page__info
            h1.s-service-page__title Проект ГРР (Проект ГРР для подземных вод/Проект ГРР для твердых полезных ископаемых)
            p ООО ГК «Специалист предлагает вам услуги по разработке проектов геологоразведочных работ. Наиболее востребованы такие геологические проекты разведки месторождений как: работы по геологической разведке подземных месторождений воды и работы по разведке твёрдых полезных ископаемых. В обоих случаях проект ГРР – основной документ, на основании которого строится вся дальнейшая деятельность по месторождению.
            h2.s-service-page__subtitle Проект геологоразведочных работ состоит из 2 основных частей:
            dl
              .row
                .col-6
                  dt 1-я часть
                  dd Геолого-методическая – содержит исходные данные для проектирования.
                .col-6
                  dt 2-я часть
                  dd Производственно-техническая – содержит решения по организации работ.
            p Каждая из них включает в себя целый комплекс мероприятий и расчетов по будущему ходу работ.
            h2.s-service-page__subtitle Геолого-методическая часть включает:
            ul
              li геологическое задание;
              li технико-экономическое обоснование целесообразности проведения разведки месторождения;
              li экономические и географические характеристики как района, в котором находится месторождение, так и самого месторождения;
              li анализ и обзор ранее проведенных ГРР в данной местности;
              li расчет и оценку возможных геологических осложнений;
              li выработку основных проектных решений с учетом особенностей местности.
            h2.s-service-page__subtitle Производственно-техническая часть содержит такие данные, как:
            ul
              li местоположение базы экспедиции;
              li информация об МТС, используемых для проведения работ;
              li расчет трудовых и материальных затрат;
              li расчет сроков проведения работ;
              li мероприятия по технике безопасности.
            p Также каждый проект включает в себя чертежи, карты и схемы, основной из которых является обзорная карта района работ. После разработки проекта ГРР наши специалисты оказывают помощь при согласовании проекта ГРР в различных инстанциях.
        .col-12.col-lg-5.col-xl-4
          .s-service-page__feedback
            +call-back()
          .s-service-page__testimonials.s-testimonials--gallery
            +testimonial-card('Рекомендательное письмо', 'ООО “ТосноДорРемСтрой-К”')
            +testimonial-card('Отзыв', 'ЗЦ ДЮТ “Зеркальный”')

