.s-main-nav {
  z-index: 100;

  @media (max-width: (576px - 1)) {
    display: none;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    @media (min-width: $screen-md) {
      justify-content: flex-start;
    }

    li {
      margin: 0;
      padding: 0;

      &:not(:last-child) {

        @media (min-width: $screen-md) {
          margin-right: 1rem;
        }
      }

      a {
        display: inline-block;
        color: currentColor;
      }
    }
  }
}
