mixin testimonials()

  section.s-testimonials.s-section
    .container
      .s-section__header
        h2.s-section__title Отзывы и рекоммендации
        a.s-section__all(href='/') Все отзывы
      .s-testimonials__slider.s-testimonials--gallery.s-main-slider.swiper-container
        .swiper-wrapper
          .swiper-slide
            +testimonial-card('Рекомендательное письмо', 'ООО “ТосноДорРемСтрой-К”')
          .swiper-slide
            +testimonial-card('Отзыв', 'ЗЦ ДЮТ “Зеркальный”')
          .swiper-slide
            +testimonial-card('Рекомендательное письмо', 'ООО “ТосноДорРемСтрой-К”')
          .swiper-slide
            +testimonial-card('Отзыв', 'ЗЦ ДЮТ “Зеркальный”')
        .swiper-pagination
