@at-root {

  @-ms-viewport {
    width: device-width;
  }
}

.s-page {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-overflow-style: scrollbar;
  min-height: 100%;
  min-width: 320px;

  body {

    &.mobile-menu-is-open {
      position: fixed;
    }
  }

  &__inner {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  &__content {
    flex-grow: 1;
  }

  &__footer-wrapper {
    flex-shrink: 0;
  }
}