mixin promo()

  .s-promo.s-section
    .container
      section.s-all-services
        .s-all-services__header
          .s-all-services__direction.s-all-services__direction--exploration(href='/') Геологическая разведка
          a.s-all-services__direction.s-all-services__direction--sale(href='/') Продажа месторождений
        .s-all-services__inner
          h2.s-all-services__subtitle: a(href='/') Лицензирование
          ul.s-all-services__list
            li.s-all-services__item
              a.s-all-services__link(href='/') Подготовка конкурсной или аукционной документации
          h2.s-all-services__subtitle: a(href='/') Геологоразведочные работы
          ul.s-all-services__list
            li.s-all-services__item
              a.s-all-services__link(href='/') ТЭО кондиций
            li.s-all-services__item
              a.s-all-services__link(href='/') Проект ГРР (геологоразведочных работ)
            li.s-all-services__item
              a.s-all-services__link(href='/') Согласование проекта ГРР
            li.s-all-services__item
              a.s-all-services__link(href='/') Получение разрешения на геологоразведку
            li.s-all-services__item
              a.s-all-services__link(href='/') Буровые работы
            li.s-all-services__item
              a.s-all-services__link(href='/') Лабораторные испытания
            li.s-all-services__item
              a.s-all-services__link(href='/') Топографические работы
            li.s-all-services__item
              a.s-all-services__link(href='/') Опытно-фильтрационные работы
            li.s-all-services__item
              a.s-all-services__link(href='/') Лабораторные исследования воды
            li.s-all-services__item
              a.s-all-services__link(href='/') Эколого-гидрогеологическое обследование ЗСО
            li.s-all-services__item
              a.s-all-services__link(href='/') Гидрогеология
          h2.s-all-services__subtitle: a(href='/') Маркшейдерское обслуживание
          ul.s-all-services__list
            li.s-all-services__item
              a.s-all-services__link(href='/') Маркшейдерская съемка
            li.s-all-services__item
              a.s-all-services__link(href='/') План развития горных работ
          h2.s-all-services__subtitle: a(href='/') Утверждение запасов
          ul.s-all-services__list
            li.s-all-services__item
              a.s-all-services__link(href='/') Отчет по результатам геологоразведочных работ с подсчетом запасов твердых полезных ископаемых
            li.s-all-services__item
              a.s-all-services__link(href='/') Экспертиза отчета с постановкой запасов общераспространенных полезных ископаемых на баланс
          h2.s-all-services__subtitle: a(href='/') Техническое проектирование
          ul.s-all-services__list
            li.s-all-services__item
              a.s-all-services__link(href='/') Технический проект разработки месторождения
            li.s-all-services__item
              a.s-all-services__link(href='/') Согласование технического проекта разработки месторождения
            li.s-all-services__item
              a.s-all-services__link(href='/') План горных работ
            li.s-all-services__item
              a.s-all-services__link(href='/') Проект карьера
            li.s-all-services__item
              a.s-all-services__link(href='/') Раздел проектной документации ПМООС
          h2.s-all-services__subtitle: a(href='/') Рекультивация
          ul.s-all-services__list
            li.s-all-services__item
              a.s-all-services__link(href='/') Проект рекультивации
            li.s-all-services__item
              a.s-all-services__link(href='/') Согласование проекта рекультивации
            li.s-all-services__item
              a.s-all-services__link(href='/') Экологическая экспертиза проекта рекультивации

          button.s-all-services__show-more(type='button') Показать больше услуг
        a.s-all-services__direction.s-all-services__direction--sale(href='/') Продажа месторождений