.s-promo {
  background-color: $text-color;
  background-repeat: no-repeat;
  background-position: 80% center;
  background-size: cover;
  background-image: url(http://specialist-geo.ru/wp-content/themes/energo-master/images/4768/index_tabs_bg.png);
  position: relative;

  .s-all-services {
    padding: 0;
    color: #fff;
  }

  .s-all-services__inner {
    background-color: rgba(0,0,0,0.5);
  }

  .s-all-services__direction--exploration {
    background-color: rgba(0,0,0,0.5);
    color: currentColor;
  }
}