.s-useful-info {
  background-color: $bg-color;

  &__main {
    border: 1px solid $border-color;
    border-radius: $border-radius;
    overflow: hidden;

    @media (min-width: $screen-md) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  &__video {
    height: 10rem;

    @media (min-width: 576px) {
      height: 15rem;
    }

    @media (min-width: $screen-md) {
      flex: 0 0 55%;
      max-width: 55%;
      height: auto;
    }
  }

  &__video-info {
    padding: 0.75rem;

    @media (min-width: $screen-md) {
      padding: 2rem;
      flex: 0 0 45%;
      max-width: 45%;
    }
  }

  &__video-date {
    font-size: $font-size--small;
    line-height: $line-height--small;
    opacity: 0.5;
    display: block;
    margin-bottom: 0.5rem;
  }

  &__video-title {
    font-size: 1rem;
    line-height: 1.25rem;
    margin: 0;
    margin-bottom: 0.25rem;

    @media (min-width: $screen-sm) {
      font-size: 1.414rem;
      line-height: 1.6rem;
      margin-bottom: 0.5rem;
    }
  }

  &__video-desc {
    opacity: 0.75;
  }

  &__list {
    margin: 1rem 0 0 0;
    padding: 0;
    list-style-type: none;
    border: 1px solid $border-color;
    border-radius: $border-radius;

    @media (min-width: $screen-sm) {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around;
    }
  }

  &__item {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (min-width: $screen-sm) {
      flex: 0 0 25%;
      max-width: 25%;
    }

    &:not(:last-child) {

      @media (max-width: ($screen-sm - 1)) {
        border-bottom: 1px solid $border-color;
      }

      @media (min-width: $screen-sm) {
        border-right: 1px solid $border-color;
      }
    }
  }

  &__link {
    display: block;
    color: $link-color;
    padding: 0.5rem 0.75rem;
    text-align: center;
    font-size: $font-size--small;
    line-height: $line-height--small;

    @media (min-width: $screen-sm) {
      padding: 0.75rem 1rem;
    }

    @media (min-width: $screen-lg) {
      font-size: 1rem;
      line-height: 1.25rem;
    }
  }
}