mixin useful-info()

  section.s-useful-info.s-section
    .container
      .s-section__header
        h2.s-section__title Полезная информация
        a.s-section__all(href='/') Все статьи
      .s-useful-info__info
        .s-useful-info__main
          .s-useful-info__video
            iframe(width='100%', height='100%', src='https://www.youtube-nocookie.com/embed/tzy0huOxnG4', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
          .s-useful-info__video-info
            time.s-useful-info__video-date(datetime="2019-10-04 0:00") 4 октября
            h3.s-useful-info__video-title Почему для России важны Курильские острова?
            p.s-useful-info__video-desc Уникальное месторождение рения на Курилах. Почему этот редкий метал так незаменим в космической промышленности
        ul.s-useful-info__list
          li.s-useful-info__item: a.s-useful-info__link(href='/') Закон “О недрах”
          li.s-useful-info__item: a.s-useful-info__link(href='/') Виды лицензий на недропользование
          li.s-useful-info__item: a.s-useful-info__link(href='/') Словарь терминов и определений
          li.s-useful-info__item: a.s-useful-info__link(href='/') Как открыть карьер?
