mixin testimonial-card(type, quotee)

  figure.s-testimonial-card
    a.s-testimonial-card__document(href='http://specialist-geo.ru/wp-content/uploads/2013/08/Izobrazhenie-179-11.jpg')
      img(src='http://specialist-geo.ru/wp-content/uploads/2013/08/Izobrazhenie-179-11.jpg', alt='/')
    figcaption.s-testimonial-card__info
      span.s-testimonial-card__type #{type}
      a.s-testimonial-card__quotee(href='/') #{quotee}
      blockquote.s-testimonial-card__blockquote
        | Подъехал шофёр на рефрижераторе грузить яйца для обучающихся элитных медиков. Широкая электрификация южных губерний даст мощный толчок подъёму сельского хозяйства...