.s-testimonial-card {
  margin: 0 0 1rem 0;

  @media (min-width: $screen-sm) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
  }

  &__document {
    display: block;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    overflow: hidden;
    box-sizing: border-box;
    flex-shrink: 0;
    cursor: zoom-in;

    img {
      display: block;
      vertical-align: middle;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    @media (min-width: $screen-sm) {
      flex: 0 0 25%;
      max-width: 25%;
    }
  }

  &__info {
    flex-shrink: 1;

    @media (min-width: $screen-sm) {
      flex: 0 1 75%;
      max-width: 75%;
      padding: 0 1rem 0 1rem;
    }
  }

  &__type {
    display: block;
    opacity: 0.5;
    margin-bottom: 0.5rem;
  }

  &__quotee {
    color: $link-color;
    padding: 0.25rem 0;
    display: inline-block;
  }

  &__blockquote {
    margin: 0;
  }
}