.s-breadcrumb {
  font-size: $font-size--small;
  line-height: $line-height--small;
  color: $text-color;
  margin-bottom: 1rem;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  padding: 0.5rem 0;

  @media (max-width: ($screen-sm - 1)) {
    display: none;
  }

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__item {
    display: inline-block;
    margin-right: 0.5rem;
    white-space: nowrap;

    &:not(:last-child):after {
      content: '';
      display: inline-block;
      margin-left: 0.5rem;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 8 14'%3E%3Cpath fill='%23262d3d' fill-rule='evenodd' d='M.233811 12.5276L5.78645 7.00791.233811 1.45771C-.516545.725814.714039-.524507 1.4644.237884l6.333 6.251606c.27013.27446.27013.73189 0 .97586l-6.333 6.31255c-.75036.7319-1.980945-.5184-1.230589-1.2503z' clip-rule='evenodd'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 5px;
      height: 9px;
      opacity: 0.5;
    }
  }

  a {
    color: $text-color;
    text-decoration: none;
    opacity: 0.5;

    &:hover,
    &:focus {
      color: $text-color;
      text-decoration: none;
      opacity: 1;
      color: $link-color;
    }
  }
}