mixin page-header(mods)

  //- Param:
    mods  {string} - modifiers

  //- Usage:
    +page-header()
      div header content

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-page-header--' + modsList[i].trim();
      }
    }

  header.s-page-header(class=allMods, role='banner')&attributes(attributes)
    .container
      .s-page-header__inner
        a.s-page-header__logo.s-logo(href='/')
          svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 210 70', width='210', height='70')
            g(fill='none', fill-rule='evenodd')
              path(fill='#66a751', d='M.6 68.2H58V54.5H13V15h45V.3H.6v54.2z')
              g(class='logo-text', fill='#000200', fill-rule='nonzero')
                path(d='M31.5 27.1c-1.7 0-3 .6-4 1.9-1 1.3-1.4 3.1-1.4 5.4 0 4.8 1.8 7.2 5.4 7.2 1.5 0 3.3-.4 5.5-1.1v3.8c-1.8.7-3.7 1.1-5.9 1.1-3.1 0-5.5-.9-7.1-2.8-1.7-1.9-2.5-4.6-2.5-8.1 0-2.2.4-4.2 1.2-5.9.8-1.7 2-3 3.5-3.9 1.5-.9 3.3-1.3 5.3-1.3 2.1 0 4.2.5 6.3 1.5l-1.5 3.7c-.8-.4-1.6-.7-2.4-1-.8-.3-1.6-.5-2.4-.5zM56.2 28.7v16.4h-4.5V32h-5.9v13h-4.5V28.7zM68.4 45.3c-2.6 0-4.7-.7-6.2-2.2-1.5-1.5-2.2-3.5-2.2-6.1 0-2.7.7-4.9 2.1-6.4 1.4-1.5 3.3-2.2 5.7-2.2 2.3 0 4.1.7 5.4 2 1.3 1.3 1.9 3.1 1.9 5.5V38H64.5c0 1.3.4 2.3 1.1 3 .7.7 1.7 1.1 3 1.1 1 0 1.9-.1 2.8-.3.9-.2 1.8-.5 2.8-1v3.5c-.8.4-1.6.7-2.5.9-.9 0-2 .1-3.3.1zm-.6-13.8c-.9 0-1.7.3-2.2.9-.5.6-.8 1.5-.9 2.6H71c0-1.1-.3-2-.9-2.6-.6-.6-1.4-.9-2.3-.9zM94.3 41.8h2.4v9.1h-4V45H78.8V28.7h4.5v13h6.5v-13h4.5zM103.9 28.7v6.5c0 .7-.1 2.4-.3 5l7.6-11.5h5.4v16.4h-4.3v-6.5c0-1.2.1-2.8.3-4.9L105 45.1h-5.4V28.7h4.3zM131.7 45.1l-.9-2.2h-.1c-.8.9-1.5 1.6-2.3 2-.8.4-1.8.5-3.1.5-1.6 0-2.8-.4-3.7-1.3-.9-.9-1.4-2.2-1.4-3.8 0-1.7.6-3 1.8-3.8 1.2-.8 3-1.3 5.5-1.4l2.8-.1v-.7c0-1.7-.8-2.5-2.5-2.5-1.3 0-2.8.4-4.6 1.2l-1.5-3c1.9-1 4-1.5 6.3-1.5 2.2 0 3.9.5 5.1 1.4 1.2.9 1.8 2.4 1.8 4.4v10.9h-3.2v-.1zm-1.3-7.6l-1.7.1c-1.3 0-2.3.3-2.9.7-.6.4-1 1.1-1 2 0 1.3.7 1.9 2.2 1.9 1 0 1.9-.3 2.5-.9.6-.6.9-1.4.9-2.4v-1.4zM154.2 45.1h-4.5V32h-4.1c-.3 3.7-.7 6.4-1.1 8.2-.4 1.8-1 3.1-1.8 3.9-.7.8-1.7 1.2-2.9 1.2-1 0-1.9-.2-2.5-.5v-3.6c.5.2 1 .3 1.4.3.6 0 1-.4 1.4-1.2.4-.8.7-2.1 1-4 .3-1.9.6-4.4.8-7.7h12.4v16.5h-.1zM163.3 28.7v6.5c0 .7-.1 2.4-.3 5l7.6-11.5h5.4v16.4h-4.3v-6.5c0-1.2.1-2.8.3-4.9l-7.5 11.5H159V28.7h4.3zM187.4 45.3c-5.1 0-7.6-2.8-7.6-8.4 0-2.8.7-4.9 2.1-6.4 1.4-1.5 3.4-2.2 6-2.2 1.9 0 3.6.4 5.1 1.1l-1.3 3.5c-.7-.3-1.4-.5-2-.7-.6-.2-1.2-.3-1.8-.3-2.3 0-3.5 1.7-3.5 5 0 3.2 1.2 4.8 3.5 4.8.9 0 1.7-.1 2.4-.3.7-.2 1.5-.6 2.2-1.1v3.8c-.7.5-1.5.8-2.2 1-.8.2-1.8.2-2.9.2zM209.8 28.7V32h-5.4v13H200V32h-5.4v-3.4h15.2z')
                path(d='M78.6 66.2h-2v-4H73v4h-2v-9.3h2v3.6h3.7v-3.6h2v9.3zM84.1 66.3c-1.1 0-2-.3-2.7-.9-.6-.6-1-1.5-1-2.7 0-1.2.3-2.1.9-2.8.6-.6 1.4-1 2.5-1 1 0 1.8.3 2.3.9.5.6.8 1.4.8 2.4v.9h-4.6c0 .6.2 1 .5 1.3.3.3.7.5 1.3.5.4 0 .8 0 1.2-.1.4-.1.8-.2 1.2-.4v1.5c-.3.2-.7.3-1.1.4h-1.3zm-.3-6c-.4 0-.7.1-1 .4-.2.3-.4.6-.4 1.1h2.7c0-.5-.1-.8-.4-1.1-.2-.3-.5-.4-.9-.4zM96 68.7h-1.7v-2.5h-4.8v2.5h-1.7v-4h.6c.4-.6.7-1.4 1-2.4.3-1 .5-2.1.6-3.3h5v5.7h1v4zm-3-3.9v-4.2h-1.5c-.1.8-.3 1.5-.4 2.2-.2.7-.4 1.4-.8 2H93zM101.2 66.3c-.8 0-1.5-.3-2-.9h-.1c.1.6.1.9.1 1v2.9h-1.9V59.1h1.6l.3.9h.1c.5-.7 1.1-1.1 2-1.1.8 0 1.5.3 2 1s.7 1.5.7 2.7c0 .8-.1 1.4-.3 2-.2.6-.5 1-.9 1.3-.6.3-1.1.4-1.6.4zm-.6-5.8c-.5 0-.8.1-1 .4-.2.3-.3.8-.3 1.5v.2c0 .8.1 1.3.3 1.6.2.3.6.5 1.1.5.9 0 1.3-.7 1.3-2.1 0-.7-.1-1.2-.3-1.6-.3-.3-.7-.5-1.1-.5zM112 62.6c0 1.2-.3 2.1-.9 2.7-.6.6-1.5 1-2.5 1-.7 0-1.3-.1-1.8-.4-.5-.3-.9-.7-1.2-1.3-.3-.6-.4-1.2-.4-2 0-1.2.3-2.1.9-2.7.6-.6 1.5-1 2.6-1 .7 0 1.3.1 1.8.4.5.3.9.7 1.2 1.3.3.6.3 1.3.3 2zm-4.9 0c0 .7.1 1.2.3 1.6.2.4.6.5 1.1.5.5 0 .9-.2 1.1-.5.2-.3.3-.9.3-1.6 0-.7-.1-1.2-.3-1.6-.2-.4-.6-.5-1.1-.5-.5 0-.9.2-1.1.5-.2.4-.3.9-.3 1.6zM120.1 59.1v7.1h-1.9v-5.6h-2.6v5.6h-1.9v-7.1zM128.6 62.6c0 1.2-.3 2.1-.9 2.7-.6.6-1.5 1-2.5 1-.7 0-1.3-.1-1.8-.4-.5-.3-.9-.7-1.2-1.3-.3-.6-.4-1.2-.4-2 0-1.2.3-2.1.9-2.7.6-.6 1.5-1 2.6-1 .7 0 1.3.1 1.8.4.5.3.9.7 1.2 1.3.3.6.3 1.3.3 2zm-4.9 0c0 .7.1 1.2.3 1.6.2.4.6.5 1.1.5.5 0 .9-.2 1.1-.5.2-.3.3-.9.3-1.6 0-.7-.1-1.2-.3-1.6-.2-.4-.6-.5-1.1-.5-.5 0-.9.2-1.1.5-.2.4-.3.9-.3 1.6zM136.6 66.2h-1.9v-5.6h-1.8c-.1 1.6-.3 2.8-.5 3.6-.2.8-.5 1.3-.8 1.7-.3.3-.7.5-1.3.5-.4 0-.8-.1-1.1-.2v-1.5c.2.1.4.1.6.1.2 0 .4-.2.6-.5.2-.3.3-.9.4-1.7.1-.8.2-1.9.3-3.3h5.4v6.9h.1zM140.6 61.8h1.4c1.1 0 1.9.2 2.4.5s.8.9.8 1.6c0 1.5-1 2.3-3.1 2.3h-3.4v-7.1h1.9v2.7zm2.6 2.1c0-.3-.1-.5-.3-.6-.2-.1-.5-.2-1-.2h-1.3v1.7h1.4c.8 0 1.2-.3 1.2-.9zM148.4 61.8c.7 0 1.3-.1 1.6-.2.3-.1.5-.3.5-.6 0-.2-.1-.4-.3-.5-.2-.1-.6-.2-1.1-.2-.3 0-.7 0-1.1.1-.4.1-.8.2-1.1.3l-.6-1.4c.5-.2 1-.3 1.5-.4.5-.1 1-.1 1.6-.1.9 0 1.6.2 2.1.5s.8.8.8 1.4c0 .8-.5 1.3-1.4 1.6v.1c.6.1 1 .3 1.2.6.2.3.4.6.4 1s-.1.8-.4 1.1c-.3.3-.7.6-1.2.8-.5.2-1.2.3-1.9.3-1.2 0-2.1-.1-2.7-.4v-1.6c.4.2.8.3 1.2.4.4.1.9.1 1.3.1.6 0 1.1-.1 1.4-.2.3-.1.5-.3.5-.6s-.2-.5-.5-.6c-.3-.1-.8-.2-1.5-.2h-.7v-1.3h.4zM160.4 62.6c0 1.2-.3 2.1-.9 2.7-.6.6-1.5 1-2.5 1-.7 0-1.3-.1-1.8-.4-.5-.3-.9-.7-1.2-1.3-.3-.6-.4-1.2-.4-2 0-1.2.3-2.1.9-2.7.6-.6 1.5-1 2.6-1 .7 0 1.3.1 1.8.4.5.3.9.7 1.2 1.3.3.6.3 1.3.3 2zm-4.9 0c0 .7.1 1.2.3 1.6.2.4.6.5 1.1.5.5 0 .9-.2 1.1-.5.2-.3.3-.9.3-1.6 0-.7-.1-1.2-.3-1.6-.2-.4-.6-.5-1.1-.5-.5 0-.9.2-1.1.5-.2.4-.3.9-.3 1.6zM168.5 60.9c0 .4-.1.7-.4 1-.3.3-.6.4-1.1.5v.1c.5.1.9.2 1.2.5.3.3.4.6.4 1.1 0 .7-.3 1.2-.8 1.6-.5.4-1.3.5-2.3.5H162v-7.1h3.6c1 0 1.7.2 2.2.5.5.3.7.7.7 1.3zm-1.9.2c0-.4-.3-.6-1-.6H164v1.4h1.4c.4 0 .7-.1.9-.2.2-.2.3-.3.3-.6zm.2 2.8c0-.3-.1-.5-.3-.6-.2-.1-.5-.2-1-.2H164v1.7h1.6c.4 0 .7-.1.9-.2.2-.1.3-.4.3-.7zM174.9 66.2l-.4-1h-.1c-.3.4-.7.7-1 .9-.3.2-.8.2-1.3.2-.7 0-1.2-.2-1.6-.6-.4-.4-.6-.9-.6-1.7 0-.8.3-1.3.8-1.7.5-.4 1.3-.6 2.4-.6h1.2v-.3c0-.7-.4-1.1-1.1-1.1-.6 0-1.2.2-2 .5l-.6-1.3c.8-.4 1.7-.6 2.7-.6 1 0 1.7.2 2.2.6.5.4.8 1 .8 1.9v4.7h-1.4v.1zm-.6-3.3h-.7c-.6 0-1 .1-1.3.3-.3.2-.4.5-.4.9 0 .5.3.8.9.8.4 0 .8-.1 1.1-.4.3-.3.4-.6.4-1v-.6zM180.2 59.1v2.7h2.7v-2.7h1.9v7.1h-1.9v-2.9h-2.7v2.9h-1.9v-7.1zM188.8 59.1v2.8c0 .3 0 1-.1 2.2l3.3-5h2.3v7.1h-1.9v-2.8c0-.5 0-1.2.1-2.1l-3.3 5h-2.3v-7.1h1.9v-.1zM199.5 66.3c-1.1 0-2-.3-2.7-.9-.6-.6-1-1.5-1-2.7 0-1.2.3-2.1.9-2.8.6-.7 1.4-1 2.5-1 1 0 1.8.3 2.3.9.5.6.8 1.4.8 2.4v.9h-4.6c0 .6.2 1 .5 1.3.3.3.7.5 1.3.5.4 0 .8 0 1.2-.1.4-.1.8-.2 1.2-.4v1.5c-.3.2-.7.3-1.1.4h-1.3zm-.3-6c-.4 0-.7.1-1 .4-.2.3-.4.6-.4 1.1h2.7c0-.5-.1-.8-.4-1.1-.1-.3-.5-.4-.9-.4z')
        nav.s-page-header__nav.s-main-nav
          ul.s-main-nav__list
            li: a(href='/') О компании
            li: a(href='/') Портфолио
            li: a(href='/') Получение лицензий
            li: a(href='/') Контакты
        .s-page-header__contacts
          a.s-page-header__phone(href='tel:+78125657511') +7 (812) 565-75-11
        +hamburger().s-page-header__hamburger

  .s-mobile-menu#mobile-menu
    .s-mobile-menu__header
      a.s-mobile-menu__logo(href='/index.html')
        svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 210 70', width='90', height='30')
          g(fill='none', fill-rule='evenodd')
            path(fill='#ffffff', d='M.6 68.2H58V54.5H13V15h45V.3H.6v54.2z')
            g(class='logo-text', fill='#ffffff', fill-rule='nonzero')
              path(d='M31.5 27.1c-1.7 0-3 .6-4 1.9-1 1.3-1.4 3.1-1.4 5.4 0 4.8 1.8 7.2 5.4 7.2 1.5 0 3.3-.4 5.5-1.1v3.8c-1.8.7-3.7 1.1-5.9 1.1-3.1 0-5.5-.9-7.1-2.8-1.7-1.9-2.5-4.6-2.5-8.1 0-2.2.4-4.2 1.2-5.9.8-1.7 2-3 3.5-3.9 1.5-.9 3.3-1.3 5.3-1.3 2.1 0 4.2.5 6.3 1.5l-1.5 3.7c-.8-.4-1.6-.7-2.4-1-.8-.3-1.6-.5-2.4-.5zM56.2 28.7v16.4h-4.5V32h-5.9v13h-4.5V28.7zM68.4 45.3c-2.6 0-4.7-.7-6.2-2.2-1.5-1.5-2.2-3.5-2.2-6.1 0-2.7.7-4.9 2.1-6.4 1.4-1.5 3.3-2.2 5.7-2.2 2.3 0 4.1.7 5.4 2 1.3 1.3 1.9 3.1 1.9 5.5V38H64.5c0 1.3.4 2.3 1.1 3 .7.7 1.7 1.1 3 1.1 1 0 1.9-.1 2.8-.3.9-.2 1.8-.5 2.8-1v3.5c-.8.4-1.6.7-2.5.9-.9 0-2 .1-3.3.1zm-.6-13.8c-.9 0-1.7.3-2.2.9-.5.6-.8 1.5-.9 2.6H71c0-1.1-.3-2-.9-2.6-.6-.6-1.4-.9-2.3-.9zM94.3 41.8h2.4v9.1h-4V45H78.8V28.7h4.5v13h6.5v-13h4.5zM103.9 28.7v6.5c0 .7-.1 2.4-.3 5l7.6-11.5h5.4v16.4h-4.3v-6.5c0-1.2.1-2.8.3-4.9L105 45.1h-5.4V28.7h4.3zM131.7 45.1l-.9-2.2h-.1c-.8.9-1.5 1.6-2.3 2-.8.4-1.8.5-3.1.5-1.6 0-2.8-.4-3.7-1.3-.9-.9-1.4-2.2-1.4-3.8 0-1.7.6-3 1.8-3.8 1.2-.8 3-1.3 5.5-1.4l2.8-.1v-.7c0-1.7-.8-2.5-2.5-2.5-1.3 0-2.8.4-4.6 1.2l-1.5-3c1.9-1 4-1.5 6.3-1.5 2.2 0 3.9.5 5.1 1.4 1.2.9 1.8 2.4 1.8 4.4v10.9h-3.2v-.1zm-1.3-7.6l-1.7.1c-1.3 0-2.3.3-2.9.7-.6.4-1 1.1-1 2 0 1.3.7 1.9 2.2 1.9 1 0 1.9-.3 2.5-.9.6-.6.9-1.4.9-2.4v-1.4zM154.2 45.1h-4.5V32h-4.1c-.3 3.7-.7 6.4-1.1 8.2-.4 1.8-1 3.1-1.8 3.9-.7.8-1.7 1.2-2.9 1.2-1 0-1.9-.2-2.5-.5v-3.6c.5.2 1 .3 1.4.3.6 0 1-.4 1.4-1.2.4-.8.7-2.1 1-4 .3-1.9.6-4.4.8-7.7h12.4v16.5h-.1zM163.3 28.7v6.5c0 .7-.1 2.4-.3 5l7.6-11.5h5.4v16.4h-4.3v-6.5c0-1.2.1-2.8.3-4.9l-7.5 11.5H159V28.7h4.3zM187.4 45.3c-5.1 0-7.6-2.8-7.6-8.4 0-2.8.7-4.9 2.1-6.4 1.4-1.5 3.4-2.2 6-2.2 1.9 0 3.6.4 5.1 1.1l-1.3 3.5c-.7-.3-1.4-.5-2-.7-.6-.2-1.2-.3-1.8-.3-2.3 0-3.5 1.7-3.5 5 0 3.2 1.2 4.8 3.5 4.8.9 0 1.7-.1 2.4-.3.7-.2 1.5-.6 2.2-1.1v3.8c-.7.5-1.5.8-2.2 1-.8.2-1.8.2-2.9.2zM209.8 28.7V32h-5.4v13H200V32h-5.4v-3.4h15.2z')
      .s-mobile-menu__close
        svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 100 100', width='30', height='30')
          path(d='M71.1 28.9c-.6-.6-1.5-.6-2.1 0l-19 19-18.9-19c-.6-.6-1.5-.6-2.1 0-.6.6-.6 1.5 0 2.1l18.9 19-19 18.9c-.6.6-.6 1.5 0 2.1.3.3.7.4 1.1.4s.8-.1 1.1-.4l40-40c.5-.5.5-1.5 0-2.1zM59.1 56.9c-.6-.6-1.5-.6-2.1 0s-.6 1.5 0 2.1l12 12c.3.3.7.4 1.1.4s.8-.1 1.1-.4c.6-.6.6-1.5 0-2.1l-12.1-12z')

    ul.s-mobile-menu__list.s-mobile-menu__list--nav
      li: a(href='/') О компании
      li: a(href='/') Портфолио
      li: a(href='/') Получение лицензий
      li: a(href='/') Контакты
    ul.s-mobile-menu__list
      li: a(href='tel:+78125657511') +7 (812) 565-75-11
      li: a(href='mailto:office@bg-specialist.ru') office@bg-specialist.ru
      li: address 190121, Санкт-Петербург, ул. Александра Блока, д. 5