.s-page-header {
  padding: 0.5rem 0;
  color: $text-color;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: all 0.25s cubic-bezier(0.6,0,0,1);

  &__inner {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }

  &__logo {
    order: 1;
    display: block;
    color: currentColor;

    > svg {
      max-width: 100px;
      height: auto;

      .logo-text {
        fill: currentColor;
      }

      @media (min-width: $screen-sm) {
        max-width: 150px;
      }
    }
  }

  &__nav {
    order: 4;

    @media (min-width: 576px) {
      flex: 0 0 100%;
      max-width: 100%;
      padding: 0.5rem 0 0 0;
      border-top: 1px solid currentColor;

      @media (min-width: 576px) {
        margin-top: 0.5rem;
      }

      @media (min-width: $screen-md) {
        margin-top: 0;
      }
    }

    @media (min-width: $screen-md) {
      order: 2;
      flex: 0 0 auto;
      max-width: none;
      border-top: 0;
      margin: 0;
      padding: 0;
    }
  }

  &__contacts {
    order: 2;
    margin-left: auto;

    @media (min-width: $screen-md) {
      order: 3;
      margin-left: 2rem;
    }
  }

  &__phone {
    display: block;
    color: currentColor;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5rem;

    @media (max-width: (375px - 1)) {
      display: none;
    }
  }

  &__hamburger {
    order: 3;
    margin-left: 1rem;
    z-index: 1000;

    @media (min-width: 576px) {
      display: none;
    }
  }

  &--main-page {
    color: #fff;

    .s-main-nav {

      @media (max-width: (576px - 1)) {
        color: $text-color;
      }
    }
  }

  @at-root .s-page--is-scrolling & {
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
    color: $text-color;
  }
}