.s-mobile-menu {
  z-index: 10001;
  position: fixed;
  padding: 1rem;
  background: $color-primary;
  color: #fff;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translate3d(100%,0,0);
  will-change: transform;
  // transition: all 0.5s cubic-bezier(0.6,0,0,1);

  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;

    &:not(:last-child) {
      padding: 1rem 0;
      margin-bottom: 1rem;
      border-bottom: 1px solid rgba(255,255,255,0.125);
    }

    li {
      margin: 0;
      padding: 0;
      opacity: 0.75;

      &:not(:last-child) {
        margin-bottom: 0.25rem;
      }

      a {
        color: currentColor;
        display: inline-block;
        padding: 0.25rem 0;
      }
    }
  }

  &__header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(255,255,255,0.125);
  }

  &__logo {

    svg {
      width: auto;
      max-height: 30px;
    }
  }

  &__close {
    position: relative;

    &::after {
      position: absolute;
      content: '';
      top: -0.5rem;
      right: -0.5rem;
      bottom: -0.5rem;
      left: -0.5rem;
    }
  }

  &--is-open {
    transform: none;
    pointer-events: auto;
  }
}