//- !
//- Attention! This file is generated automatically.
//- Do not write anything here manually, all such edits will be lost.

include ../blocks/page/page.pug
include ../blocks/btn/btn.pug
include ../blocks/logo/logo.pug
include ../blocks/page-header/page-header.pug
include ../blocks/page-footer/page-footer.pug
include ../blocks/breadcrumbs/breadcrumbs.pug
include ../blocks/hamburger/hamburger.pug
include ../blocks/main-nav/main-nav.pug
include ../blocks/promo/promo.pug
include ../blocks/testimonials/testimonials.pug
include ../blocks/testimonial-card/testimonial-card.pug
include ../blocks/main-slider/main-slider.pug
include ../blocks/projects/projects.pug
include ../blocks/project-card/project-card.pug
include ../blocks/support/support.pug
include ../blocks/useful-info/useful-info.pug
include ../blocks/service-page/service-page.pug
include ../blocks/call-back/call-back.pug
include ../blocks/all-services/all-services.pug
include ../blocks/get-call-modal/get-call-modal.pug
include ../blocks/section/section.pug
include ../blocks/mobile-menu/mobile-menu.pug
include ../blocks/video/video.pug
