mixin call-back(mods, desc)

  //- Param:
    mods  {string} - modifiers

  //- Use:
    call-back()

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-call-back' + modsList[i].trim();
      }
    }

  if desc
    .s-call-back(class=allMods)&attributes(attributes)
      h3.s-call-back__title Заказать обратный звонок
      form.s-call-back__form
        input(type='tel', placeholder='Телефон')
        button Звонок
      p.s-call-back__desc Закажите обратный звонок, и наш менеджер свяжется с вами.

  else
    .s-call-back(class=allMods)&attributes(attributes)
      h3.s-call-back__title Заказать обратный звонок
      form.s-call-back__form
        input(type='tel', placeholder='Телефон')
        button Звонок