.s-call-back {

  &__title {
    font-size: 1rem;
    line-height: 1.25rem;
    margin-bottom: 1rem;

    @media (min-width: $screen-sm) {
      font-size: 1.414rem;
      line-height: 1.5rem;
      margin-bottom: 1.5rem;
    }
  }

    &__form {
    margin-bottom: 1rem;

    @media (min-width: $screen-sm) {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
    }

    input {
      display: inline-block;
      vertical-align: middle;
      width: 100%;
      margin: 0;
      font-size: 1rem;
      line-height: 1.25rem;
      font-family: inherit;
      background-color: #fafafa;
      border: 1px solid $border-color;
      border-radius: $border-radius;
      padding: 0.7rem 1rem;

      @media (min-width: $screen-sm) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        flex: 0 0 70%;
        max-width: 70%;
      }
    }

    button {
      display: block;
      margin-top: 0.5rem;
      background-color: $color-primary;
      color: #fff;
      border-radius: $border-radius;
      width: 100%;
      padding: 0.5rem 0.75rem;
      font-size: 1rem;
      line-height: 1.25rem;

      @media (min-width: $screen-sm) {
        margin-top: 0;
        margin-left: -1px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        flex: 0 0 30%;
        max-width: 30%;
      }
    }
  }
}