.s-page-footer {
  background-color: $bg-color--lighter;
  font-size: $font-size--small;
  line-height: $line-height--small;

  &__top {
    padding: 1rem 0;
    border-bottom: 1px solid $border-color;

    @media (min-width: $screen-sm) {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
    }
  }

  &__bottom {
    padding: 1rem 0;

    @media (min-width: $screen-sm) {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
    }
  }

  &__privacy {
    margin-bottom: 0.5rem;

    @media (min-width: $screen-sm) {
      margin-bottom: 0;
    }
  }

  &__address {
    margin: 0;
  }

  &__contacts {
    margin-bottom: 0.5rem;

    @media (min-width: $screen-sm) {
      margin-bottom: 0;
    }

    a {
      display: inline-block;
      color: $link-color;
      font-size: 1rem;
    }
  }

  &__nav-list {
    margin: 0;
    padding: 0;
    list-style-type: none;

    @media (min-width: $screen-sm) {
      display: flex;
      flex-flow: row wrap;
    }

    li {
      margin: 0;
      padding: 0;

      @media (min-width: $screen-sm) {

        &:not(:last-child) {
          margin-right: 1rem;
        }
      }

      a {
        display: inline-block;
        padding: 0.125rem 0;
        color: $link-color;
      }
    }
  }
}