mixin page-footer(mods)

  //- Param:
    mods  {string} - modifiers

  //- Use:
    +page-footer()
      div footer content

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-page-footer--' + modsList[i].trim();
      }
    }

  footer.s-page-footer(class=allMods, role='contentinfo')&attributes(attributes)
    .container
      .s-page-footer__top
        .s-page-footer__privacy © ООО Группа компаний «Специалист», 2011-2019. Все права защищены
        address.s-page-footer__address Санкт–Петербург
      .s-page-footer__bottom
        .s-page-footer__contacts
          a(href='tel:+78125657511') +7 (812) 565-75-11
        ul.s-page-footer__nav-list
          li: a(href='/') О компании
          li: a(href='/') Портфолио
          li: a(href='/') Получение лицензий
          li: a(href='/') Контакты