.s-all-services {
  padding: 2rem 0;

  @media (min-width: $screen-sm) {
    padding: 4rem 0;
  }

  &__title {
    font-size: 1.414rem;
    line-height: 1.6rem;
    margin-bottom: 1rem;

    @media (min-width: $screen-sm) {
      font-size: 1.999rem;
      line-height: 2.2rem;
      margin-bottom: 1.5rem;
    }
  }

  &__inner {
    background-color: $bg-color--lighter;
    padding: 1rem;
    line-height: 1.5rem;

    @media (min-width: $screen-sm) {
      padding: 2rem 3rem;
    }

    @media (min-width: $screen-md) {
      columns: 2;
      column-gap: 0;
    }
  }

  &__header {

    @media (min-width: $screen-sm) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .s-all-services__direction--sale {

      @media (max-width: ($screen-sm - 1)) {
        display: none;
      }

      @media (min-width: $screen-sm) {
        display: block;
      }
    }
  }

  &__direction {
    display: block;
    color: currentColor;
    font-size: 1.414rem;
    line-height: 1.6rem;
    margin-bottom: 1rem;

    &--exploration {
      background-color: $bg-color--lighter;
      display: inline-block;
      padding: 1rem 1.5rem;
      margin-bottom: 0;
      vertical-align: middle;
    }

    &--sale {
      padding: 1rem 1.5rem;
      background-color: $color-primary;
      color: #fff;
      text-align: center;
      margin: 0;
      font-size: 1rem;
      line-height: 1.6rem;
      display: inline-block;
      vertical-align: middle;
      transition: all 0.25s cubic-bezier(0.5,0,0,1);

      @media (max-width: ($screen-sm - 1)) {
        margin-top: 1rem;
      }

      @media (min-width: $screen-sm) {
        display: none;
      }

      &:hover,
      &:focus {
        text-decoration: none;
        color: currentColor;
        background-color: darken($color-primary, 10%);
      }
    }
  }

  &__subtitle {
    margin-bottom: 0.25rem;

    a {
      color: currentColor;
      display: inline-block;
      font-weight: 700;

      &:hover,
      &:focus {
        color: $link-color;
      }
    }
  }

  &__list {
    display: none;
    list-style-type: initial;
    margin-bottom: 1rem;

    @media (min-width: $screen-sm) {
      display: block;
    }

    &--is-active {
      display: block;
    }
  }

  &__item {
    margin-bottom: 0.25rem;
  }

  &__link {
    color: currentColor;
    display: inline-block;
    vertical-align: top;
    opacity: 0.75;

    &:hover,
    &:focus {
      color: $link-color;
      opacity: 1;
    }
  }

  &__show-more {
    padding: 0.5rem 0;
    position: relative;
    display: inline-block;
    cursor: pointer;
    background-color: transparent;
    color: currentColor;

    &::after {
      position: absolute;
      content: '';
      background-color: $color-primary;
      height: 3px;
      width: 100%;
      left: 0;
      bottom: 0.25rem;
    }

    @media (min-width: $screen-sm) {
      display: none;
    }
  }
}