mixin video()

  .s-video
    .container
      .s-video__info.row.align-items-center
        .col
          h1.s-video__title ГК Специалист
          p.s-video__slogan Проведение геологоразведочных работ
    .s-video__video-wrap
      video(preload='auto', autoplay='true', loop='true', muted='true')
        source(src='img/video.webm', type='video/webm')
        source(src='img/video.mp4', type='video/mp4')
