.s-video {
  position: relative;
  color: #fff;

  &__info {
    position: relative;
    z-index: 2;
    padding: 4rem 0;
    min-height: 75vh;
    display: flex;

    @media (min-width: $screen-sm) {
      padding: 8.5rem 0 4.5rem;
    }

    @media only screen and (min-width: $screen-lg) {
      min-height: 90vh;
    }
  }

  &__title {
    font-size: 1.999rem;
    line-height: 1.1em;
    margin-bottom: 1rem;

    @media only screen and (min-width: $screen-sm) {
      font-size: 2.827rem;
    }

    @media only screen and (min-width: $screen-lg) {
      font-size: 5.653rem;
    }
  }

  &__slogan {
    margin: 0;
    font-size: 1.414rem;
    line-height: 1.2em;
  }

  &__video-wrap {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    z-index: 1;

    &::after {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(#000, 0.5);
    }

    video {
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      transform: translate3d(-50%,-50%,0);
      position: absolute;
      top: 50%;
      left: 50%;
    }
  }
}