mixin support()

  section.s-support.s-section
    .container
      .row
        .col-12.col-lg-7
          .s-support__info
            h2.s-section__title Поддержка добывающих предприятий от группы компаний “Специалист”
            p Группа компаний «Специалист» осуществляет комплексную поддержку в сфере недропользования.
            p Основные направления нашей деятельности – обеспечение добычи твердых полезных ископаемых и подземных вод, разработка необходимой проектной документации и еe согласование в государственных инстанциях.
        .col-12.col-lg-5
          +call-back('', true).s-support__feedback