.s-support {
  background-color: $bg-color--lighter;

  &__title {
    margin-bottom: 1rem;
  }

  &__info {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid $border-color;

    @media (min-width: $screen-md) {
      padding: 0 1rem 0 0;
      border-bottom: 0;
      margin: 0;
    }
  }

  &__feedback {

    @media (min-width: $screen-sm) {
      padding-top: 0.25rem;
    }
  }
}