.s-projects {
  background-color: $bg-color;
  padding: 2rem 0 1rem 0;

  @media (min-width: $screen-sm) {
    padding: 4rem 0 1.75rem 0;
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 1rem;

    @media (min-width: $screen-sm) {
      justify-content: space-between;
      flex-direction: row;
      align-items: baseline;
      margin-bottom: 2.25rem;
    }
  }

  &__title {
    font-size: 1.414rem;
    line-height: 1.6rem;

    @media (min-width: $screen-sm) {
      font-size: 1.999rem;
      line-height: 2.2rem;
    }
  }

  &__all {
    font-size: $font-size--small;
    line-height: $line-height--small;
    color: $link-color;
    display: inline-block;

    @media (max-width: ($screen-sm - 1)) {
      margin-top: 1rem;
      border: 1px solid currentColor;
      border-radius: $border-radius;
      padding: 0.25rem 0.5rem;
    }
  }
}