mixin projects()

  section.s-projects.s-section
    .container
      .s-section__header
        h2.s-section__title Проекты компании
        a.s-section__all(href='/') Все проекты
      .s-projects__list
        .row
          .col-12.col-sm-6.col-md-4
            +project-card('Водозабор подземных вод ФГБОУ ВДЦ “Орленок”', 'https://specialist-geo.ru/wp-content/uploads/2018/04/iStock-475704492.jpg')
          .col-12.col-sm-6.col-md-4
            +project-card('Месторождение песков “Селиваново”', 'https://specialist-geo.ru/wp-content/uploads/2016/10/iStock-522650439.jpg')
          .col-12.col-sm-6.col-md-4
            +project-card('Объекты инфраструктуры ОАО “РЖД”', 'https://specialist-geo.ru/wp-content/uploads/2016/10/iStock-505410770.jpg')
          .col-12.col-sm-6.col-md-4
            +project-card('Участок недр “Губановский”', 'https://specialist-geo.ru/wp-content/uploads/2016/10/iStock-532401352.jpg')
          .col-12.col-sm-6.col-md-4
            +project-card('Месторождение “Глобицы–1”', 'https://specialist-geo.ru/wp-content/uploads/2016/10/iStock-664979638.jpg')
          .col-12.col-sm-6.col-md-4
            +project-card('Месторождение “Вохоновское Луйсковицы”', 'https://specialist-geo.ru/wp-content/uploads/2016/10/iStock-505212240.jpg')