extends pug/layout.pug

block meta
  - var title = 'Index';
  title= title
  meta(name='description', content='')

block header
  +page-header('main-page')

block content
  +video()
  +promo()
  +support()
  +projects()
  +testimonials()
  +useful-info()

block footer
  +page-footer()