extends pug/layout.pug

block meta
  - var title = 'Inner';
  title= title
  meta(name='description', content='')

block header
  +page-header()

block content
  +service-page()
  +all-services()

block footer
  +page-footer()