// Width
$screen-xs:                   576px;
$screen-sm:                   768px;
$screen-md:                   992px;
$screen-lg:                   1200px;
$screen-xl:                   1440px;
$screen-xxl:                  1920px;


// Colors
$color-primary:               #30a94a;
$text-color:                  #151414;
$text-color--lighter:         lighten($text-color, 25%);
$bg-color:                    #fff;
$bg-color--lighter:           #f6f6f6;
$bg-color--darker:            $text-color;
$link-color:                  #0066cc;
$border-color:                rgba($text-color, 0.125);
$border-radius:               2px;
$opacity:                     0.5;
$box-shadow:                  0 10px 30px rgba($text-color, 0.25);


// Font
$font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
$font-family--monospace: Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', nospace;


// Typo
$font-size--small:            0.707rem;
$line-height--small:          1rem;