.s-project-card {
  position: relative;
  display: block;
  font-size: 1rem;
  line-height: 1.25rem;
  color: #fff;
  margin-bottom: 0.75rem;
  border-radius: $border-radius;
  overflow: hidden;

  @media (min-width: 576px) {
    margin-bottom: 1.5rem;
  }

  &:hover,
  &:focus {
    color: #fff;

    .s-project-card__cover {

      &::after {
        background-color: rgba($text-color, 0.25);
      }

      img {
        transform: scale(1.1);
      }
    }
  }

  &::after {
    content: '';
    display: block;
    padding-bottom: 100%;
  }

  &__cover {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    overflow: hidden;

    &::after {
      position: absolute;
      content: '';
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba($text-color, 0.5);
      transition: 0.5s cubic-bezier(0.7,0,0,1);
    }

    img {
      display: block;
      vertical-align: middle;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: 0.5s cubic-bezier(0.7,0,0,1);
    }
  }

  &__title {
    margin: 0;
    padding: 0;
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
    width: 70%;
    color: currentColor;
    text-align: center;
  }
}