$hamburger-width:         30px;
$hamburger-height:        30px;
$hamburger-radius:        $hamburger-width / 2;
$hamburger-color:         currentColor;

.s-hamburger {
  width: $hamburger-width;
  height: $hamburger-height;
  padding: 0;
  position: relative;
  cursor: pointer;
  color: currentColor;

  &::after {
    position: absolute;
    content: '';
    top: -0.25rem;
    right: -0.25rem;
    bottom: -0.25rem;
    left: -0.25rem;
  }

  span {
    display: inline-block;
    width: 100%;
    height: 2px;
    background-color: $hamburger-color;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate3d(0,-20%,0);
    border-radius: 2px;

    &::before,
    &::after {
      position: absolute;
      content: '';
      display: block;
      height: 2px;
      right: 0;
      background-color: inherit;
      border-radius: 2px;
    }

    &::before {
      top: -0.35rem;
      width: 60%;
    }

    &::after {
      bottom: -0.35rem;
      width: 80%;
    }
  }
}